{
  "plugins": ["prettier-plugin-organize-imports"],
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 80,
  "quoteProps": "consistent"
}
